@charset "UTF-8";

body {
    background-color: rgb(19, 18, 18);
    color: white;
    font-family: poppinsregular;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    background: #000000;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 1rem;
}

aside{
    margin-left: 100px;
}

#titulo {
    flex-direction: column;
    line-height: 10px;
    font-size: 13px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.a-color:hover {
    color: white;
    transition: 0.3s all;
    range: 100%;
}

a:hover {
    color: #0B8705;
    transition: 0.3s all;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 46px;
    line-height: 40px;
    font-family: Poppinsmedium;
    max-width: 450px;
}

#h2-color {
    color: #0B8705;
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img {
    width: 480px;
    display: block;
    margin-left: 100px;
    margin-right: auto;
}

.languages-logo {
    width: 380px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.logo-img {
    width: 250px;
    margin-top: 25px;
}

#contato-img {
    width: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 65px;
    height: 68px;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease;
}

.box:hover {
    width: 170px;
    height: 50px;
    background: #c32aa3;
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 0 50px #b315917c;
}

.box:nth-child(1):hover {
    background: #171515;
    box-shadow: 0 0 50px #1876f285;
}

.box:nth-child(2):hover {
    background: #1da1f2;
    box-shadow: 0 0 50px #1da0f280;
}

.box:nth-child(3):hover {
    background: #25d366;
    box-shadow: 0 0 50px #1876f285;
}

.navbar p {
    transform: translate(70px);
}

#nav1 {
    display: flex;
    margin-left: 250px;
    margin-right: auto;
}

#nav2 {
    display: flex;
    margin-left: 550px;
    margin-right: auto;
}

.box .icon {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .4s ease;
}

.icon {
    font-size: 25px;
}

.box:hover .icon {
    background: #fff;
    color: #020202;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
}

.github {
    background-color: #000000;
}

.linkedin {
    background-color: #0072b1;
}

.whatsapp {
    background-color: #25d366;
}

.btn-menu {
    display: none;
}